.addit_info {
    background-color: #23AD9D;
    width: 70%;
    height: 300px;
    border-style:solid;
    border-color:black;
    border-width:1px;
    text-align:justify;
}
a {
    text-decoration:none;
    color:blue;
}