.timetable {
    background-color: #23AD9D;
    width: 380px;
    height: 150px;
    border-style:solid;
    border-color:black;
    border-width:1px;
    text-align:center;

}
.times {
    text-align:justify;
}