.blue-light {
    background-color: #B1DEBD;
    border-color:black;
    border-width:1px;
    border-radius:4px;
    border-style:solid;
    width:180px;
    height:40px;
    color:black;
    font-size:14px;

}
