.site,.siteName {
    height: 100px;
    width: 125px;
    background-color: #23AD9D;
    text-align:justify;
}
.siteName {
   
    text-align:center;
    
}
.sitepult {
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    padding-left:150px;
    padding-top:30px;
}
.pult_item {
    padding-left:20px; 
}


