body {
    background-color:#0782B7;
}
.center {
    text-align:center
}
.pult1,.pult2{
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:top;
padding-left:80px;
}
.pult2 {
    padding-left:300px;
    align-items:top;
    padding-top:20px;
}
.pult_item{
    padding-left:20px;
}