.hotel {
    background-color: #23AD9D;
    width: 380px;
    /* height: 300px; */
    display:block;
    border-style:solid;
    border-color:black;
    border-width:1px;
    text-align:center;
white-space:pre-wrap;
}
